#main-login-id{
    
    .title-name{
        position: relative;
        display: inline-flex;
        align-items: center;
        height: 100%;
        width: 100%;
        flex-direction: column;
        .title-l1{
            font-size: 24px;
            font-weight: 700;
            color: wheat;
        }
    }
    .username-section{
        height: 30%;
        position: relative;
        top: 8rem;
        .user-name{
            font-size: 18px;
            font-weight: 400;
            font-family: cursive;
        }
        .user-ip{ 
            position: relative;
            left: 10px;
            width: 50%;
            background-color: transparent;
            border: 0px;
            //outline: none;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            //width:5px;
            color:white;
            cursor:default;
        }
    }
}